.content {
    margin-top: 1em;
    align-content: center;
    max-width: 600px;
    margin: auto;
    padding: 0.1em 2em 2em 2em;
    font-size: 1.3em;
}

h1 {
    font-size: 2.0em;
}

.topspace {
    height:calc(100vh - 190px);
}

.kickstarter-badge img {
    width: 120px;
    display:block;
    margin:0;
    padding:0;
    position:absolute;
    top: 10px;
    left: 600px;
}

.menu {
    padding: 4px 24px 4px 24px;
    background: #AABBCC55;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.menu a {
    text-decoration: none;
    font-size: 1em;
    color: #479;
}
