body {
    font-family: 'IM Fell English', 'Georgia', serif;
    font-size: 1.3em;
    line-height: 1.4em;
    background: #abc;
    background-image: url("img/jumping_viking_square.jpg");
    /* background-image: url("img/Fog.jpeg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

h1 {
    font-family: 'Uncial Antiqua', 'Germania One', serif;
    line-height: 1.2em;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 10px;
}

h2 {
    font-family: "Eagle Lake", sans-serif;
    margin: 2em 0em 0em 0em;
    font-size: 1.0em;
    line-height: 1.2em;
}

.intro {
    font-style: italic;
}

.content {
    margin: 1em;
    background: #fffd;
    padding: 0.1em 2em 2em 2em;
    border-radius: 5px;
}

.banner {
    width: 100%;
}

.subtitle {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

.attribution {
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
}

ul {
    line-height: 1.6em;
}

a {
    color: black;
}

a:hover {
    color: #555;
}

img {
    margin-top: 1em;
}

.copyright {
    text-align: center;
    font-size: 0.6em;
}
