body {
    font-family: 'IM Fell English', 'Georgia', serif;
    background: #071831;
}

/* Via https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios */
body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      /* background: url(https://www.w3schools.com/css/trolltunga.jpg) center center; */
      background: url("img/jumping_viking_square.jpg") center bottom;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment:scroll
}

h1 {
    font-family: 'Uncial Antiqua', 'Germania One', serif;
    line-height: 1.2em;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 10px;
}

h2 {
    font-family: "Eagle Lake", sans-serif;
    margin: 2em 0em 0em 0em;
    font-size: 1.0em;
    line-height: 1.2em;
}

h3 {
    font-family: "Eagle Lake", sans-serif;
    margin: 2em 0em 0em 0em;
    font-size: 0.8em;
    line-height: 1.2em;
}

h4 {
    font-family: "Eagle Lake", sans-serif;
    margin: 2em 0em 0em 0em;
    font-size: 0.6em;
    line-height: 1.2em;
}

.intro {
    font-style: italic;
    margin-left: 1em;
    margin-right: 1em;
}

.content {
    background: #fffe;
    border-radius: 5px;

    margin: 0.2em;
    padding: 0.1em 0.5em 2.0em 0.5em;
    font-size: 1.1em;
    line-height: 1.4em;
    /* margin-top: 470px; */
}

.banner {
    width: 100%;
}

.subtitle {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

.attribution {
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
}

.byline {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

ul {
    line-height: 1.6em;
}

a {
    color: black;
}

a:hover {
    color: #555;
}

img {
    margin-top: 1em;
}

.copyright {
    text-align: center;
    font-size: 0.6em;
}

.topspace {
    height:calc(100vh - 145px);
}

.side-img-left {
    float: left;
    width: 35%;
    margin: 0.5em;
}

.side-img-right {
    float: right;
    width: 35%;
    margin: 0.5em;
}

.center-img {
    width: 100%;
    margin: auto;
}
