<html>
  <head>
    <title>Slaget vid Nissan</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&family=Noto+Sans+Runic&family=Chela+One&family=Almendra+Display&family=Caesar+Dressing&family=Germania+One&family=Bungee+Shade&family=Ribeye&family=IM+Fell+English&family=Eagle+Lake&family=Uncial+Antiqua&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="large.css" media="all and (min-width: 900px)">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
  </head>
  <body>
      {{ content }}
      <p class="copyright">
        © Erik Svedäng AB, Olof Hjalmar & Erik Fälth 2026
      </p>
    </div>
  </body>
</html>
